@import "~bootstrap/scss/bootstrap";

.button {
  padding: 25px;
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Merriweather", serif;
}

.shakespeareText {
  text-align: center;
  padding: 20px;
}

.generatedText {
  padding-top: 80px;
  white-space: pre-wrap;
  font-family: "Merriweather", serif;
}

@media screen and (min-width: 375px) and (max-width: 670px) {
  .button {
    top: 9%;
  }
  .generatedText {
    padding-top: 120px;
  }
}

@media screen and (min-width: 100px) and (max-width: 374px) {
  .button {
    top: 12%;
  }
  .generatedText {
    padding-top: 150px;
  }
}
